{
	auto_https off
}

http://horde.snowfall.games:{$PORT} {
	respond /health "OK" 200
	
	@grpc header_regexp grpc Content-Type ^application/grpc
	reverse_proxy @grpc snowfall-horde.railway.internal:5002 {
		transport http { 
			versions 2c 
		}
	}

	reverse_proxy snowfall-horde.railway.internal:5000
}